
/* default spacing */
*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* fonts properties */
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
    
  --fw-reg: 300;
  --fw-bold: 900;
    

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  
  /* colors */
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #FF3E00;
  --clr-accent-darker: #cb3300;
  
  --bx-s: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/*  ------------------ Fonts Tablet++  ------------------ */
@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}

/* ------------------ General styles ------------------ */

body {
  max-width: 1440px;

  margin: 0 auto;

  color: var(--clr-dark);
  line-height: 1.6;
  font-size: var(--fs-body);
  font-family: var(--ff-primary);

  background: var(--clr-light);
}

section {
  padding: 5em 2em;
}

img {
  display: block;

  max-width: 100%;
}

strong { 
  font-weight: var(--fw-bold) 
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/*  ------------------ General mobile sm--  ------------------ */
@media screen and (max-width: 320px) {
  section {
    padding: 2em 1em;
  }
}

/* ------------------ Buttons styles ------------------ */

.btn {
  display: inline-block;

  width: 200px;

  padding: .5em 1.5em;

  font-size: 1rem;
  text-decoration: none;
  color: var(--clr-light);
  text-transform: uppercase;
  letter-spacing: 3px;

  border-radius: .25em;
  background-color: var(--clr-accent);
  box-shadow: var(--bx-s);

  cursor: pointer;

  transition: all 250ms ease-in-out;
}
.btn:hover, 
.btn:focus {
  transform: scale(1.2);
  background-color: var(--clr-accent-darker);
}
.btn:focus {
  outline-color: var(--clr-light);
}
/* ------------------ Typography ------------------ */

h1,
h2,
h3 {
  margin: 0;
  line-height: 1;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro {
  align-self: start;
  
  text-align: right;
  color: var(--clr-lights);
}

.section__subtitle--intro,
.section__subtitle--about {
  margin-bottom: 1em;
  padding: .25em 1em;

  font-family: var(--ff-secondary);

  background: var(--clr-accent);
}

/* ------------------ header ------------------ */

nav { display: none; }

/*  ------------------ Intro section  ------------------ */

.intro {
  position: relative;
}

.intro__img {
  border-radius: 0.25em;
  box-shadow: var(--bx-s);
}

/*  ------------------ Intro Tablet++  ------------------ */
@media (min-width: 600px) {
  .intro {
      display: grid;
      grid-column-gap: 1em;
      grid-template-areas: 
      "img title"
      "img subtitle";
      grid-template-columns: min-content max-content;

      width: min-content;

      margin: 0 auto;
  }
  
  .intro__img {
      grid-area: img;
      
      min-width: 250px;
  }    
  
  .section__subtitle--intro {
    position: relative;
    left: -1.5em;
    z-index: -1;

    grid-column: -1 / 1;
    grid-row: 2;

    align-self: start;
    text-align: right;
    
    width: calc(100% + 1.5em)
  }
}

/*  ------------------ My Services  ------------------ */
.my-services {

  color: var(--clr-light);
  text-align: center;

  background-color: var(--clr-dark);
}

.services {
  margin-bottom: 2em;
}

.section__title--services {
  padding-bottom: 15px;
  margin-bottom: 25px;

  text-align: center;
  font-size: var(--fs-h1);
  color: var(--clr-accent);

  position: relative;
}

.section__title--services::after {
  content: "";
  position: relative;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);

  display: block;

  width: 100px;
  height: 2px;

  /* color: cu; */

  border-radius: 2px;
  background-color: currentColor;
}

.service {
  margin: 0 auto;
  max-width: 300px;
}

/*  ------------------ My Services Tablet++  ------------------ */
@media screen and (min-width: 600px) {
  .section__title--services {
    color: var(--clr-light);
  }
  /* .section__title--services::after {
    background-color: var(--clr-light);
  } */

  .my-services {
    background-color: var(--clr-accent-darker);
    background-size: cover;
    background-blend-mode: multiply;
    background-image: url(/img/services-bg.jpg);
  }

  .services {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    max-width: 1100px;

    margin: 0 auto;
    margin-bottom: 3em;
  }
  .service {
    margin: .31em;
    width: 260px;
  }
}

/* ------------------ About me ------------------ */

.about-me {
  max-width: 800px;

  margin: 0 auto;

  text-align: center;
}
.section__subtitle--about {
  color: var(--clr-light);
}

.about-me__img {
  border-radius: 0.25em;
  box-shadow: var(--bx-s);
}

@media screen and (min-width: 600px) {
  .about-me {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 200px;
    grid-template-areas: 
      "title img"
      "subtitle img"
      "text img"
    ;

    text-align: start;
  }

  .section__title--about {
      grid-area: title;
  }

  .about-me__img {
      grid-area: img;
  }

  .section__subtitle--about {
    position: relative;
    left: -1.5em;
    z-index: -1;

    grid-column: -1 / 1;
    grid-row: 2;

    padding-left: 1.5em;
    padding-right: calc(200px + 1.5em);

    align-self: start;
    text-align: left;
    
    width: calc(100% + 1.5em + 1.5em)
  }
}